@page "/portfolio"
@* @rendermode InteractiveWebAssembly *@

<PageTitle>Portfolio</PageTitle>

<h1>ポートフォリオ</h1>

<div class="sugawatimeline container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>略歴</h4>
			<ul class="timeline">
				@foreach (var item in timeLineItems)
				{
					<li>
						<h5>@item.Title</h5>
						<a>@item.Date.ToString("yyyy-MM-dd")</a>
						@((MarkupString)item.Description)
					</li>
				}
			</ul>
		</div>
	</div>
</div>


<div class="sakuhin">
	<h2>過去に作ってきたものたち</h2>

	@foreach (var item in portfolioItems)
	{
		<div class="modal fade" id="@item.Id" tabindex="-1" aria-labelledby="@item.Label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="@item.Label">@item.Title</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<img src="@item.ImagePath" class="modal-img d-block mx-auto" alt="@item.Title">
						@((MarkupString)item.Description)

						<div class="d-flex flex-column mt-3">
							@if (item.XPath != null)
							{
								<a href="@item.XPath" target="_blank" rel="noreferrer" class="mb-2">
									<img src="./pub/logos/x.svg" alt="X" width="20" height="20" />
								</a>
							}
							@if (item.GithubPath != null)
							{
								<a href="@item.GithubPath" target="_blank" rel="noreferrer" class="mb-2">
									<img src="./pub/logos/github.svg" alt="X" width="20" height="20" />
								</a>
							}
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
						@if (item.DetailPath != null)
						{
							<a class="btn btn-primary" href="@item.DetailPath" role="button" target="_blank" rel="noreferrer">詳しく見る</a>
						}
					</div>
				</div>
			</div>
		</div>

		<div class="card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#@item.Id">
			<img src="@item.ImagePath" class="card-img-top" alt="@item.Title">
			<div class="card-body">
				<p class="card-text">@item.Title</p>
			</div>
		</div>
	}


</div>

@code {
	List<TimeLine> timeLineItems = new List<TimeLine>
	{
		new TimeLine
		{
			Id = "entrydaigaku",
			Title = "農工大に入学",
			Date = new DateTime(2021, 4, 1),
			Description = (MarkupString)"<p>東京農工大学工学部知能情報システム工学科に入学しました.</p>"
		},
		new TimeLine
		{
			Id = "cgengineer",
			Title = "CGエンジニア検定 エキスパート合格",
			Date = new DateTime(2023, 8, 2),
			Description = (MarkupString)"<p>CGエンジニア検定のエキスパートに合格しました.</p>"
		},
		new TimeLine
		{
			Id = "apgoukaku",
			Title = "応用情報技術者試験合格",
			Date = new DateTime(2023, 12, 21),
			Description = (MarkupString)"<p>応用情報技術者試験にに合格しました.</p>"
		},
		new TimeLine
		{
			Id = "detascience",
			Title = "農工大の「数理・データサイエンス・AI教育プログラム(応用基礎)」修了",
			Date = new DateTime(2024, 3, 28),
			Description = (MarkupString)"<p>農工大の「数理・データサイエンス・AI教育プログラム(応用基礎)」を修了しました.</p>"
		},
		new TimeLine
		{
			Id = "graduation",
			Title = "農工大卒業",
			Date = new DateTime(2025, 3, 31),
			Description = (MarkupString)"<p>東京農工大学を卒業しました.</p>"
		},
		new TimeLine
		{
			Id = "entrymaster",
			Title = "農工大大学院入学",
			Date = new DateTime(2025, 4, 1),
			Description = (MarkupString)"<p>東京農工大学大学院に入学しました.</p>"
		},
	};

	List<portfolioItem> portfolioItems = new List<portfolioItem>
	{
		new portfolioItem
		{
			Id = "illustrace",
			Title = "イラストレース",
			Description = (MarkupString)"<p>農工祭で展示するためのゲームとしてMCCのメンバーで作ったゲームです．<br>自分の紙に書いたイラストがテクスチャとして貼られたオブジェクトで遊ぶレースゲームです.</br>Unityを使って作成し, 通信には Mirror を使いました.</br>学祭では数百人の大人から子供まで遊んでいただけました.</p>",
			ImagePath = "./pub/portfolio/illustrace/1.webp",
			DetailPath = "https://tuatmcc.com/news/2022-11-13-nokosai/",
			XPath = "https://x.com/TUATMCC/status/1661668112931106816"
		},
		new portfolioItem
		{
			Id = "avoidgame",
			Title = "AvoidGame",
			Description = (MarkupString)"農工祭で展示するためのゲームとしてMCCのメンバーで作ったゲームです．<br>モーションキャプチャーで前からやってくる障害物を避けたり, スコアを回収するゲームです.<br>Unityでゲームを作成し, モーションキャプチャーには MediaPipe を使い, Web カメラからの情報で骨格推定を行いました. <br>学祭では数百人の大人から子供まで遊んでいただけました.",
			ImagePath = "./pub/portfolio/avoidgame/1.webp",
			DetailPath = "https://tuatmcc.com/news/2023-11-10-nokosai/",
			XPath = "https://x.com/TUATMCC/status/1722620350977220726",
			GithubPath = "https://github.com/tuatmcc/AvoidGame"
		},
		new portfolioItem
		{
			Id = "beabachelor",
			Title = "Be A Bachelor",
			Description = (MarkupString)"農工祭で展示するためのゲームとしてMCCのメンバーで作ったゲームです．<br>アケコンでキャラクターを操作して時間内で単位(スコア)を回収し切るか, 対戦バトルで相手より多くの単位を回収できるかを競うゲームです.<br>通信対戦のためのシステムをTCPClientを使ってフルスクラッチで作成しました.",
			ImagePath = "./pub/portfolio/beabachelor/1.webp",
			XPath = "https://x.com/TUATMCC/status/1791041039433941067",
			GithubPath = "https://github.com/tuatmcc/BeABachelor"
		},
	};

	class TimeLine
	{
		public string Id { get; set; }
		public DateTime Date { get; set; }
		public string Label => Id + "Label";
		public string Title { get; set; }
		public MarkupString Description { get; set; }
	}

	class portfolioItem
	{
		public string Id { get; set; }
		public string Label => Id + "Label";
		public string Title { get; set; }
		public DateTime Date { get; set; }
		public MarkupString Description { get; set; }
		public string ImagePath { get; set; }
		public string? DetailPath { get; set; }
		public string? XPath { get; set; }
		public string? GithubPath { get; set; }
	}

	protected override void OnInitialized()
	{
		timeLineItems = timeLineItems.OrderByDescending(x => x.Date).ToList();
	}
}