@page "/portfolio"
@* @rendermode InteractiveWebAssembly *@

<PageTitle>Portfolio</PageTitle>

<h1>ポートフォリオ</h1>
<div class="sakuhin">
    <h2>過去に作ってきたものたち</h2>

    @foreach (var item in portfolioItems)
    {
        <div class="modal fade" id="@item.Id" tabindex="-1" aria-labelledby="@item.Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="@item.Label">@item.Title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>@item.Description</p>
                        @if (item.XPath != null)
                        {
                            <a href="@item.XPath" target="_blank" rel="noreferrer">
                                <img src="./pub/logos/x.svg" alt="X" width="20" height="20" />
                            </a>
                        }
                        @if (item.GithubPath != null)
                        {
                            <a href="@item.GithubPath" target="_blank" rel="noreferrer">
                                <img src="./pub/logos/github.svg" alt="X" width="20" height="20" />
                            </a>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                        @if (item.DetailPath != null)
                        {
                            <a class="btn btn-primary" href="@item.DetailPath" role="button" target="_blank" rel="noreferrer">詳しく見る</a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#@item.Id">
            <img src="@item.ImagePath" class="card-img-top" alt="@item.Title">
            <div class="card-body">
                <p class="card-text">@item.Title</p>
            </div>
        </div>
    }


</div>

@code {
    List<portfolioItem> portfolioItems = new List<portfolioItem>
	{
		new portfolioItem
		{
			Id = "illustrace",
			Title = "イラストレース",
			Description = "農工祭で展示するためのゲームとしてMCCのメンバーで作ったゲームです．",
			ImagePath = "./pub/portfolio/illustrace/1.webp",
            DetailPath = "https://tuatmcc.com/news/2022-11-13-nokosai/",
            XPath = "https://x.com/TUATMCC/status/1661668112931106816"
        },
        new portfolioItem
        {
            Id = "avoidgame",
            Title = "AvoidGame",
            Description = "農工祭で展示するためのゲームとしてMCCのメンバーで作ったゲームです．",
            ImagePath = "./pub/portfolio/avoidgame/1.webp",
            DetailPath = "https://tuatmcc.com/news/2023-11-10-nokosai/",
            XPath = "https://x.com/TUATMCC/status/1722620350977220726",
            GithubPath = "https://github.com/tuatmcc/AvoidGame"
        },
        new portfolioItem
        {
            Id = "beabachelor",
            Title = "Be A Bachelor",
            Description = "農工祭で展示するためのゲームとしてMCCのメンバーで作ったゲームです．",
            ImagePath = "./pub/portfolio/beabachelor/1.webp",
            XPath = "https://x.com/TUATMCC/status/1791041039433941067",
            GithubPath = "https://github.com/tuatmcc/BeABachelor"
        },
	};

    class portfolioItem
    {
        public string Id { get; set; }
        public string Label => Id + "Label";
        public string Title { get; set; }
        public string Description { get; set; }
        public string ImagePath { get; set; }
        public string? DetailPath { get; set; }
		public string? XPath { get; set; }
		public string? GithubPath { get; set; }
    }
}
